name: Test Brew Formula

on:
  push:
    paths:
      - 'Formula/**'
  pull_request:
    paths:
      - 'Formula/**'

jobs:
  test-install:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Tap the repository
        run: |
          brew tap yunkya2/tap

      - name: Install the formula
        run: |
          brew install elf2x68k

      - name: Verify installation
        run: |
          m68k-xelf-gcc -v
